<div>
<h1>DEMO Login</h1>

<br/>
<% form_tag '/login/authenticate' do -%>
    <%= label_tag 'user_id', "Login ID" %> 
    <%= text_field_tag "user_id" %> Use "admin" to login <br/> 
    <br/>
    <%= submit_tag "Sign in" %>
<% end -%>

</div>	
